* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

/* Page */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E6E6E6;
}

/* Main container */
#main_block {
  width: 900px;
  height: 600px;
  background: #001F3D;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
}

/* Title */
h1 {
  color: #ED985F;
  margin-bottom: 15px;
}

/* Layout */
#outer {
  display: flex;
  gap: 15px;
  justify-content: center;
}

/* Left panel */
#symbol {
  width: 200px;
  height: 450px;
  background: #F7B980;
  border-radius: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

h2 {
  color: #001F3D;
}

/* Buttons */
.expenses {
  width: 110px;
  height: 42px;
  border-radius: 8px;
  border: none;
  background: #001F3D;
  color: #F7B980;
  cursor: pointer;
  transition: 0.2s;
}

.expenses:hover {
  background: #ED985F;
  color: #001F3D;
}

.disabled-btn {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Right panel */
#tracker {
  width: 600px;
  height: 450px;
  background: #F7B980;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Salary input */
#salaryInput {
  height: 42px;
  border-radius: 8px;
  border: 1px solid #001F3D;
  padding: 0 12px;
  color: #001F3D;
}

/* Rows */
#rows {
  flex: 1;
  overflow: hidden; /* no scrollbar */
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.row-symbol {
  width: 45px;
  height: 45px;
  background: #001F3D;
  color: #F7B980;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.row-input {
  flex: 1;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #001F3D;
  padding: 0 12px;
  color: #001F3D;
}

.row-input:focus {
  outline: 2px solid #ED985F;
}

/* Summary */
#summary {
  font-weight: 600;
  color: #001F3D;
}

/* Remove number arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}


/* Delete button */
.delete-btn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background: #ED985F;
  color: #001F3D;
  cursor: pointer;
  font-size: 18px;
}
